body {
    padding: 2em;
    max-width: 760px;
    margin: 0 auto;
    font-size: 150%;
    font-family: 'HelveticaNeue', 'Arial', sans-serif;
}

button {
    font-size: inherit;
    cursor: pointer;
    margin-left: 20px;
}